<% content_for :cover do %>
  <div class="center jumbotron">
  <div class="text-center">
    <h1>* Dreams *</h1>
    <h4>小説投稿サイトです</h4>
    <% if logged_in? %>
      <p>ログイン完了ユーザ: <%= current_user.user_name %></p>
    <% else %>
      <%= link_to '会員登録', signup_path, class: 'btn btn-lg btn-info' %>
      <%= link_to 'ログイン', login_path, class: 'btn btn-lg btn-info' %>
    <% end %>
  </div>
</div>
<% end %>

<p>テスト</p>