<% content_for :cover do %>
  <div class="center jumbotron">
  <div class="text-center">
    <h1>* Dreams *</h1>
    
    <% if logged_in? %>
      <h4>You're logging in as <%= current_user.user_name %></h4>
    <% else %>
      <h4>This is a Website for posting novels</h4>
      <%= link_to 'Resistraion', signup_path, class: 'btn btn-lg btn-info' %>
      <%= link_to 'Login', login_path, class: 'btn btn-lg btn-info' %>
    <% end %>
  </div>
</div>
<% end %>
